TEAM_NAME=ISMAILY SC
TAZKARTI_URL=https://www.tazkarti.com/#/matches

NOTIFY_TO=you@gmail.com,another@gmail.com
MAIL_API_URL=https://your-mail-api.vercel.app
MAIL_SECRET=some-long-random-string

CRON_SECRET=some-long-random-string

DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
DIRECT_URL=postgresql://user:password@host:5432/dbname
